{% extends 'index.html' %}
{% block title %}Login{% endblock %}
{% load static %}
{% block content %}
<head>
  
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<div class="container">
<h2>Dashboard</h2>
    
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success">Login</button>
</form>
<br>
  <p><strong>-- OR --</strong></p>
  <div class="social-buttons">
  <a href="{% url 'social:begin' 'google-oauth2' %}"><i class="fab fa-google"></i></i></a>  
  <a href="{% url 'social:begin' 'github' %}"><i class="fab fa-github"></i></a>
  <a href="{% url 'social:begin' 'facebook' %}"><i class="fab fa-facebook"></i></a>
</div>
</div>
{% endblock %}